.panel {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
}

.panel.dark {
	background: #1A1A1A;

	border-style: solid;
	border-color: rgba(0,0,0,0.1);
	border-width: 1px;
}

.panel.dark > .panel-heading {
	background-color: #2D3143;
	border-width: 0px;
}

.panel.dark > .panel-heading > h2 > a.section {
	border-color: #373b4e !important;
}